@model ncs2019_team_TBD.Models.Cart

@{
    ViewData["Title"] = "Index";
}

<h2>Your Cart</h2>










<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" role="button" asp-route-id="@item">Edit Quantity</a>
                    <a asp-action="Details" class="btn btn-primary" role="button" asp-route-id="@item">Details</a>
                    <a asp-action="Delete" class="btn btn-primary" role="button" asp-route-id="@item">Delete</a>

                </td>
            </tr>
            <tr></tr>
            <!--

            -->
        }
    </tbody>
    <tr>
        <th>Total Cost: </th>
        <th></th>
        <th></th>
        <th>@ViewBag.finalprice</th>
        <th>
        </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a asp-action="Views/Checkout" class="btn btn-primary" role="button">Proceed to Checkout</a></td>
        @*<td><a asp-action="CreateOrder" asp-controller="Order" asp-route-CartId ="@Model.TempCart.Id" class="btn btn-primary" role="button">Proceed to Checkout</a></td>*@
    </tr>
</table>
