@model ncs2019_team_TBD.Models.Cart
@{
    ViewData["Title"] = "Index";
}

<h2>Your Cart</h2>



<style>
    .table {
        /*border-bottom: 2px solid #1d0958;*/
        border-collapse: inherit;
        border-spacing: 0;
        border-collapse: unset;
    }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: middle;
            border-top: 2px solid #1d0958;
        }
</style>






<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                <h4><strong> Product</strong></h4>
            </th>
            <th>
                <h4><strong> Description</strong></h4>
            </th>
            <th>
                <h4><strong>Quantity</strong></h4>
            </th>
            <th>
                <h4><strong>Price</strong></h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Product.Img)" alt="Products" class="img-responsive" width="65" height="65" />
                <td>
                    <h5><strong> @Html.DisplayFor(modelItem => item.Product.Name)</strong></h5>
                </td>
                <td>
                    <h5><strong> @Html.DisplayFor(modelItem => item.Product.Description)</strong></h5>
                </td>
                <td>
                    <h5><strong> @Html.DisplayFor(modelItem => item.Quantity)</strong></h5>
                </td>
                <td>
                    <h5><strong> @Html.DisplayFor(modelItem => item.Product.Price) </strong></h5>
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" role="button" asp-route-id="@item.ProductId">Edit Quantity</a>
                    @*<a asp-action="Details" class="btn btn-primary" role="button" asp-route-id="@item.ProductId">Details</a>*@
                    <a asp-action="Delete" class="btn btn-primary" role="button" asp-route-id="@item.ProductId">Delete</a>

                </td>
            </tr>

        }
    </tbody>
    <tr>
        <th><h4><strong>Total Cost: </strong></h4></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <h4><strong><u>@ViewBag.finalprice</u><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></strong></h4>
        </th>
        <td><a asp-controller="Orders" asp-action="Billing" class="btn btn-primary" role="button">Proceed to Checkout</a></td>
    </tr>
</table>
